<launch>
    <!-- Arguments -->
    <arg name="use_teleop"          default="false"/>
    <arg name="use_simulator"       default="false"/>
    <arg name="open_rviz"           default="true"/>
    <arg name="move_forward_only"   default="true"/>
    <arg name="point_mode"          default="true"          doc="point mode [single, multiple]"/>
    <arg name="map_file"            default="ppti.yaml"/>
    <arg name="map_file_sim"        default="turtlebot_house.yaml"/>
    <arg name="rviz_config"         default="$(find msd700_visual)/rviz/msd700_navigation.rviz"/>
    <arg name="model"               default="$(find xacro)/xacro    $(find msd700_visual)/urdf/irbot.urdf.xacro"/>
    <arg name="model_sim"           default="$(find xacro)/xacro    $(find msd700_visual)/urdf/turtlebot3_burger.urdf.xacro"/>
    
    <!-- <arg name="odom_topic"          default="/odom" />    -->
    <arg name="odom_topic"          default="/odometry/filtered" />   
    <arg name="imu_topic"           default="/imu/data" />  
    <arg name="cmd_vel_topic"       default="/cmd_vel" />

    <include file="$(find msd700_navigations)/launch/algorithm/move_base.launch">
        <arg name="use_simulator"       value="$(arg use_simulator)"/>
        <arg name="move_forward_only"   value="$(arg move_forward_only)"/>
        <arg name="cmd_vel_topic"       value="$(arg cmd_vel_topic)"/>
        <arg name="odom_topic"          value="$(arg odom_topic)"/>
    </include>


    <group if="$(arg use_simulator)">  
        <include file="$(find msd700_bringup)/launch/map_server.launch"> 
            <arg name="map_file"      value="$(arg map_file_sim)"/>
        </include>

        <include file="$(find msd700_control)/launch/robot_localization.launch"> 
            <arg name="use_teleop"      value="$(arg use_teleop)"/>
            <arg name="use_simulator"   value="$(arg use_simulator)"/>
            <arg name="open_rviz"       value="$(arg open_rviz)"/>
            <arg name="rviz_config"     value="$(arg rviz_config)"/>
            <arg name="model"           value="$(arg model_sim)"/>
            <!-- <arg name="odom_topic"      value="$(arg odom_topic)"/>    -->
            <arg name="imu_topic"       value="$(arg imu_topic)"/> 
        </include>
    </group>

    <group unless="$(arg use_simulator)"> 
        <include    file="$(find msd700_bringup)/launch/bridger.launch"/>
        <include    file="$(find msd700_bringup)/launch/lidar_scanner.launch"/>  
        <include    file="$(find msd700_bringup)/launch/map_server.launch"> 
            <arg name="map_file"      value="$(arg map_file)"/>
        </include>

        <include file="$(find msd700_control)/launch/robot_localization.launch"> 
            <arg name="use_teleop"      value="$(arg use_teleop)"/>
            <arg name="use_simulator"   value="$(arg use_simulator)"/>
            <arg name="open_rviz"       value="$(arg open_rviz)"/>
            <arg name="rviz_config"     value="$(arg rviz_config)"/>
            <arg name="model"           value="$(arg model)"/>
            <!-- <arg name="odom_topic"      value="$(arg odom_topic)"/>    -->
            <arg name="imu_topic"       value="$(arg imu_topic)"/> 
        </include>
    </group>

    <group if="$(eval arg('point_mode') == 'multiple')">  
        <include 
            file="$(find msd700_bringup)/launch/multiple_point.launch"> 
        </include>
    </group>

    <!-- Localization and Navigation -->
    <include file="$(find msd700_navigations)/launch/algorithm/amcl.launch"/>
</launch>



<!-- 
    use command below to launch this file

    roslaunch msd700_control robot_localization.launch 
    use_simulator:= ?????   (true/false)
    model := ????
    /       $(find msd700_visual)/urdf/turtlebot3_burger.urdf.xacro"/> 
    /       $(find xacro)/xacro $(find msd700_visual)/urdf/irbot.urdf.xacro
                    
-->