<launch>
    <!-- Arguments -->
    <arg name="open_rviz"       default="false"/>
    <arg name="use_simulator"   default="false"/>
    <arg name="slam_methods"    default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="model"           default="$(find msd_pose_estimation)/urdf/irbot.urdf.xacro"/>
    <arg name="rviz_config"     value="$(find msd700_visual)/rviz/pose_estimation.rviz"/>
    
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    
    <group if="$(arg open_rviz)"> 
        <include file="$(find msd700_bringup)/launch/rviz_launch.launch">
            <arg name="rviz_config" value="$(arg rviz_config)"/>
        </include>
    </group>
    
    <group unless="$(arg use_simulator)"> 
        <include file="$(find msd700_navigation)/launch/primitive/lidar_scanner.launch"/>   
        <include file="$(find msd_pose_estimation)/launch/robot_localization.launch"/>
    </group>

    <include file="$(find msd700_navigation)/launch/method/msd700_$(arg slam_methods).launch"/>
</launch>
  
