<launch>
    <!-- Arguments -->
    <arg name="open_rviz"       default="true"/>
    <arg name="use_simulator"   default="false"/>
    <arg name="slam_methods"    default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <!-- <arg name="model"           default="$(find xacro)/xacro   $(find msd700_visual)/urdf/turtlebot3_burger.urdf.xacro"/> -->
    <arg name="model"           default="$(find xacro)/xacro $(find msd700_visual)/urdf/irbot.urdf.xacro"/>
    <arg name="rviz_config"     default="$(find msd700_visual)/rviz/msd700_navigation.rviz"/>
    <arg name="odom_topic"      default="/wheel/odom" />   
    <arg name="imu_topic"       default="/imu/data" />    
    
    <include file="$(find msd700_control)/launch/robot_localization.launch"> 
        <arg name="use_simulator"   value="$(arg use_simulator)"/>
        <arg name="open_rviz"       value="$(arg open_rviz)"/>
        <arg name="rviz_config"     value="$(arg rviz_config)"/>
        <arg name="model"           value="$(arg model)"/>
        <arg name="odom_topic"      value="/wheel/odom" />   
        <arg name="imu_topic"       value="/imu/data" /> 
    </include>

    <group unless="$(arg use_simulator)"> 
        <include file="$(find msd700_bringup)/launch/lidar_scanner.launch"/>   
    </group>

    <include file="$(find msd700_navigations)/launch/method/msd700_$(arg slam_methods).launch"/>
</launch>
  
