<launch>
    <!-- Arguments -->
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="open_rviz" default="true"/>
    <arg name="model" default="$(find msd_pose_estimation)/urdf/irbot.urdf.xacro"/>
    <arg name="rvizconfig" default="$(find msd_pose_estimation)/rviz/pose_estimation.rviz" />
    <arg name="move_forward_only" default="false"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    
    <include file="$(find msd700_launch)/launch/rviz_launch.launch"/>
    <include file="$(find msd700_navigation)/launch/primitive/lidar_scanner.launch"/>
    <include file="$(find msd_pose_estimation)/launch/robot_localization.launch"/>
    <include file="$(find msd700_navigation)/launch/method/msd700_$(arg slam_methods).launch"/>
</launch>
  
