<launch>
    <arg name="open_rviz" default="false"/>
    <arg name="rviz_config" value="$(find msd700_visual)/rviz/rplidar.rviz"/>
    <arg name="model"           default="$(find xacro)/xacro $(find msd700_visual)/urdf/irbot.urdf.xacro"/>
    <arg name="serial_port"     default="/dev/rplidar"/>

    
    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/rplidar"/>
        <!-- <param name="serial_port"         type="string" value="/dev/ttyUSB0"/> -->
        <param name="serial_baudrate"     type="int"    value="115200"/>
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    <group if="$(arg open_rviz)"> 
        <include file="$(find msd700_bringup)/launch/rviz_launch.launch">
        <arg name="rviz_config"       value="$(arg rviz_config)"/>
        <arg name="model"             value="$(arg model)"/>
        </include>
    </group>
    
</launch>