<launch>
    <arg name="model" default="$(find msd700_visual)/urdf/irbot.urdf.xacro"/>
    <arg name="rviz_config" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <!-- <param name="rvizconf" value/> -->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true" />
</launch>
  
