<launch>
  <param name="rvizconfig" default="$(find msd700_control)/config/pose_estimation.rviz" />

  <include file="$(find msd700_control)/launch/serial_launch.launch"/>  
  <include file="$(find msd700_control)/launch/imu_filter.launch" />
  <include file="$(find msd700_control)/launch/teleop.launch" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local">
    <rosparam command="load" file="$(find msd700_control)/config/ekf_localization_config.yaml" />
    <remap from="/odometry/filtered" to="/odometry/filtered" />
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
    <param name="tf_prefix" value=""/>
  </node>

  <include file="$(find msd700_rviz)/launch/rviz_launch.launch" />
</launch>
